.about__container{
    padding-top: 50px;
}


.about .about__title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin: 0 auto;
    padding-top: 57px;
}
.about .about__title::after {
    content: "";
    background-color: #EC7979;
    height: 1px;
    display: block;
    max-width: 170px;
    margin: 57px auto 0 auto;
}
.about .about__subtitle {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #86878B;
    margin-top: 40px;
}

.about__text{
    padding: 50px 0px 50px 0px;
}

.about .about__proofs {
    display: flex;
    margin-top: 110px;
    justify-content: space-between;
}
.about .about__proofs li {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about .about__proofs .about__img {
    border: 1px solid #EC7979;
    width: 92px;
    max-height: 92px;
    display: flex;
    justify-content: center;
    border-radius: 360px;
    box-sizing: border-box;
}
.about .about__proofs .about__img--1 {
    padding: 13.35px;
}
.about .about__proofs .about__img--2 {
    padding: 23px 13px;
}
.about .about__proofs .about__img--3 {
    padding: 13px 22px 13px 26px;
}
.about .about__proofs .about__text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}
.about .about__proofs .about__subtext {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    max-width: 370px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 58px;
}

@media (max-width: 1510px) and (min-width: 1024px) {
    .about__container{
        max-width: 992px !important;
        padding-top: 50px;
    }

    .about__title{
        font-size: 24px !important;
        padding-top: 50px !important;
        margin-top: 0 !important;
    }

    .about__title::after{
        margin-top: 50px;
    }

    .about__subtitle{
        font-size: 14px !important;
        margin-top: 32px;
    }

    .about__proofs{
        margin-top: 66px !important;
    }

    .about__img{
        width: 79.55px !important;
        height: 79.55px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about__img img{
        width: 56.46px;
        height: 56.46px;
        object-fit: contain;
    }

    .about__text{
        padding: 34px 0px 30px 0px;
        font-size: 18px;
        margin-top: 33.72px;
    }

    .about__item{
        max-width: 318px;
    }

    .about__subtext{
        font-size: 14px !important;
        margin-top: 17px !important;
        margin-bottom: 68px !important;
    }
}

@media (min-width: 320px) and (max-width: 1023px){
    .about__container{
        max-width: 288px !important;
    }

    .about__title{
        margin-top: 53px !important;
        font-size: 18px !important;
        height: auto !important;
    }

    .about__title::after{
        margin-top: 53px !important;
        margin-bottom: 25px !important;
    }

    .about__subtitle{
        font-size: 16px !important;
    }

    .about__proofs{
        flex-direction: column;
        margin-top: 50px !important;
    }

    .about__text{
        font-size: 18px !important;
        padding: 35px 0px !important;
    }

    .about__subtext{
        font-size: 14px !important;
        margin-top: 9px !important;
        margin-bottom: 43.72px !important;
    }

    .about__subtext--last{
        margin-bottom: 141px !important;
    }



}