.contact{
    background-color: #fff;
}

.contact__container{
    text-align: center;
}

.contact__title{
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin: 0px;
    margin-top: 50px;
    padding-top: 61px;
    text-transform: uppercase;
}

.contact__title::after{
    content: "";
    border: 1px solid #EC7979;
    display: block;
    max-width: 170px;
    margin: 57px auto 40px auto;
}

.contact__subtitle{
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
}

.contact__forms{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.contact__user{
    display: flex;
    flex-direction: column;
    width: 571px;
}

.contact__message{
    width: 569px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #bdbdbd;
}

.contact__input{
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    padding-bottom: 16px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    outline: none;
    color: #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
}

.contact__input--margin{
    margin-top: 50px;
}

.contact__input--message{
    width: 100%;
    padding-bottom: 0px;
    border: none;
}

.contact__btn{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    background: #EC7979;
    border: none;
    padding: 22px 123px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 1024px) {
    .contact{
        margin-top: 0;
        padding-top: 0;
    }

    .contact__container{
        max-width: 992px !important;
    }

    .contact__title{
        font-size: 24px;
        line-height: 28px;
    }

    .contact__title::after{
        margin-top: 51px;
        margin-bottom: 32px;
    }

    .contact__subtitle{
        font-size: 14px;
        line-height: 16px;
    }

    .contact__forms{
        margin-top: 72px !important;
    }

    .contact__user{
        max-width: 486px !important;
    }

    .contact__input{
        padding-bottom: 19px;
    }

    .contact__input--margin{
        margin-top: 50px;
    }

    .contact__message{
        max-width: 486px !important;
    }
}