.customers {
}

.customers__container {
  text-align: center;
}

.customers__title {
  width: 100%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  padding-top: 57px;
}

.customers__title::after {
  content: "";
  background-color: #EC7979;
  height: 1px;
  display: block;
  max-width: 170px;
  margin: 57px auto 40px auto;
}

.customers__subtitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
  margin-bottom: 83px;
}

.customers__comments {
  display: flex;
  justify-content: space-between;
}

.customers__comments li {
  max-width: 370px;
}

.customers__comment {
  width: 100%;
  display: flex;
  background: #E2E2E2;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.customers__comment::after{
  content: '';
  position: absolute;
  background: url("../src/aftercom.jpg") center no-repeat;
  background-size: contain;
  bottom: 0;
  left: 69px;
  width: 30px;
  height: 20px;
  transform: translateY(20px);

}

.customers__comment h5 {
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
  padding: 38px 0 37px 0;
}

.customers__user {
  margin-top: 46px;
  display: flex;
  margin-bottom: 64px;
}

.customers__user-info {
    margin-left: 30px;
}

.customers__img{
    max-width: 70px;
    max-height: 70px;
}

.customers__name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: capitalize;
  justify-content: flex-start;
  padding: 10px 0px 10px 0px;
}

.customers__job {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: start;
  margin-top: 15px;
}

@media (max-width: 1510px) and (min-width: 1024px) {
  .customers__container{
    max-width: 992px !important;
    padding-top: 100px;
  }

  .customers__title{
    font-size: 24px;
    padding: 0px 0px 0px 0px;
    margin-top: 0;
  }

  .customers__title::after{
    margin-top: 51px;
    margin-bottom: 32px;
  }

  .customers__subtitle{
    font-size: 14px;
    margin-bottom: 32px;
  }

  .customers__comments li{
    max-width: 317px;
  }

  .customers__user img{
    width: 63px;
    height: 63px;
  }

  .customers__comment h5{
    font-size: 14px;
  }

  .customers__comment{
    margin-bottom: 46px;
    background-size: 317px 200px;
  }

  .customers__user-info{
    max-width: 230.45px;
    margin-left: 22.54px;
  }

  .customers__user{
    display: flex;
    align-items: start;
    margin-bottom: 57px;
  }

  .customers__name{
    font-size: 18px !important;
    padding: 5px 0px 5px 0px;
    line-height: 25px;
  }

  .customers__job{
    font-size: 14px;
    margin-top: 9px;
    line-height: 16px;
    padding: 3px 0px 3px 0px;
  }
}

@media (min-width: 320px) and (max-width: 1023px){
  .customers__container{
    max-width: 288px !important;
  }

  .customers__title{
    font-size: 24px;
    padding-top: 37px;
  }

  .customers__title::after{
    margin-top: 37px;
    margin-bottom: 24px;
  }

  .customers__subtitle{
    font-size: 14px;
    margin-bottom: 24px;
  }

  .customers__comments{
    flex-direction: column;
  }

  .customers__comments li{
    max-width: 100% !important;
  }

  .customers__comment{
    background-size: 100% 200px;
  }

  .customers__comment h5{
    font-size: 14px;
  }

  .customers__user{
    margin-top: 42px !important;
  }

  .customers__name{
    font-size: 14px;
    padding-top: 4px;
  }

  .customers__job{
    font-size: 13px;
    margin-top: 10px;
  }


}
