.footer {
  background-color: #000;
}

.footer__container {
  margin: 0 auto;
  max-width: 569.2px;
}

.footer__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 27.8px;
  padding-bottom: 27px;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}

@media (max-width: 1510px) and (min-width: 1024px) {

  .footer__container{
    max-width: 482px !important;
  }

  .footer__link svg{
    width: 45px;
    height: 45px;
  }

  .footer__text{
    font-size: 14px;
    line-height: 16px;
    margin-top: 38px;
    padding-bottom: 30px;
  }
}

@media (max-width: 1024px) and (min-width: 320px){
  .footer{

  }

  .footer__container{
    max-width: 288px !important;
  }

  .footer svg{
    height: 26px;
    width: 26px;
  }

  .footer__text{
    margin-top: 42px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 45px;
  }
}
