.header {
    background: #000;
}

.header__menu{
    display: none;
}

.header__container {
    display: flex;
    justify-content: space-between;
    max-width: 1224.72px;
    margin-left: 115.58px;
    align-items: center;
    margin: 0 auto;
}

.header__logo {
}

.header__nav {
    color: #fff;
}

.header__links {
    display: flex;
}

.header__link {
    min-width: 113.8px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
    min-height: 75px;
    display: flex;

}

.header__link a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    outline: none;
}

.header__link a:hover, .header__link a:active {
    outline: none;
    border: none;
}

@media (max-width: 1510px) and (min-width: 1024px) {
    .header__container {
        max-width: 888.72px;
        margin-right: auto;
        margin-left: auto;

    }

    .header__link{
        display: flex;
        justify-content: center !important;
    }

    .header__link a{
        width: auto;
    }
}

@media (min-width: 320px) and (max-width: 1023px) {
    .header__container{
        max-width: 280px;
    }

    .header__logo{
        width: 130px;
        height: 56px;
    }

    .header__nav{
        display: none;
    }

    .header__nav::after{
    }

    .menu__icon{
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background: #000;
        position: relative;
    }

    .menu__icon span, .menu__icon span::after, .menu__icon span::before{
        position: absolute;
        width: 24px;
        height: 3px;
        background: #fff;
        top: 45%;
        right: 0;
        z-index: 8;
    }

    .menu__icon span{
        transition: 0.2s;
    }

    .menu__icon span::after, .menu__icon span::before{
        content: "";
        transition: all .5s ease;
    }

    .menu__icon span::after{
        transform: translateY(8px);
        bottom: 0;
    }

    .menu__icon span::before{
        top: 0;
        transform: translateY(-8px);
    }

    .menu__icon--active span{
        height: 0;
    }

    .menu__icon--active span::after{
        transform: rotate(-45deg);
    }

    .menu__icon--active span::before{
        transform: rotate(45deg);
    }

    .header__menu{
        width: 100%;
        margin-bottom: 181px;
    }

    .menu__list{
        list-style: none;
    }

    .menu__item{
        padding: 25px 0;
        text-align: center;
    }

    .menu__item a{
        text-decoration: none;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #fff;
    }


}