.media {
  background-color: #f8efef;
  margin-bottom: 99px;
}

.media__container {
  display: flex;
  justify-content: space-between;
}

.media__left {

}

.media__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: capitalize;
  color: #333333;
  padding: 20px 0px;
  margin-bottom: 18px;
}

.media__subtitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
  margin-bottom: 18px;
}

.media__right {
    display: flex;
    align-items: center;
}

.media__socials {
  display: flex;
}

.media__social {
    margin-left: 30px;
}

@media (max-width: 1024px) {
  .media__container{
    max-width: 992px !important;
  }

  .media__title{
    margin-top: 2px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 13px;
    padding: 16px 0px;
  }

  .media__subtitle{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 13px;
  }

  .media__link svg{
    width: 64px;
    height: 64px;
  }

  .media__social{
    margin-left: 20px;
  }
}