.pricing{
    background: #F5F5F5;
    min-height: 900px;
}

.pricing__container{
    text-align: center;
    padding-top: 50px;
}

.pricing__title{
    width: 100%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    padding-top: 57px;
}

.pricing__title::after {
    content: "";
    background-color: #EC7979;
    height: 1px;
    display: block;
    max-width: 170px;
    margin: 57px auto 0 auto;
}

.pricing__subtitle{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    margin-top: 40px;
}

.pricing__columns{
    margin-top: 59px;
    display: flex;
    justify-content: space-between;
    max-height: 510px;
    align-items: center;
    margin-bottom: 70px;
}

.pricing__column{
    flex-basis: 370px;
    background: #333333;
    box-shadow: 0px 20px 12px 0px #cccfcc;
    list-style: none;
}

.pricing__column:first-child, .pricing__column:last-child{
    align-self: flex-start;
}

.pricing__item{
    box-sizing: border-box;
}

.pricing__item--h{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: #fff !important;
    padding-top: 12px;
    padding-bottom: 11.34px;
}

.pricing__item--h5{
    padding-top: 16px;
    padding-bottom: 16px;
}

.pricing__item h4{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-top: 18px;
    padding-bottom: 18px;
}

.pricing__item h3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-top: 27px;
    padding-bottom: 27px;
}

.pricing__item h5{
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}

@media (max-width: 1510px) and (min-width: 1024px) {
    .pricing__container{
        max-width: 992px !important;
        padding-top: 100px;
    }

    .pricing__title{
        margin-top: 0;
        padding-top: 0;
        font-size: 24px;
    }

    .pricing__title::after{
        margin-top: 50px;
        margin-bottom: 32px;
    }

    .pricing__subtitle{
        font-size: 14px;
    }

    .pricing__columns{
        margin-top: 32px;
        margin-bottom: 50px !important;
    }

    .pricing__column{
        max-width: 317px;
    }
}

@media (min-width: 320px) and (max-width: 1023px){
    .pricing__container{
        max-width: 288px !important;
    }

    .pricing__title{
        font-size: 24px;
        padding-top: 51px !important;
    }

    .pricing__title::after{
        margin-top: 50px !important;
        margin-bottom: 24px !important;
    }

    .pricing__subtitle{
        font-size: 14px;
    }

    .pricing__columns{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto !important;
        max-height: none;
        margin-top: 24px !important;
    }
    .pricing__column{
        flex-basis: 100% !important;
        width: 100%;
    }

    .pricing__column:nth-child(2), .pricing__column:nth-child(3){
        margin-top: 27px !important;
    }

    .pricing__column:last-child{
        margin-bottom: 26px !important;
    }

}