.tabs .tabs__items {
    display: flex;
    margin: 0;
    padding-inline-start: 0;
}
.tabs .tabs__items .tabs__item {
    width: 203px;
    text-align: center;
    padding: 8px 16px;
    cursor: pointer;
}
.tabs .tabs__item--active {
    border: 1px solid #C6CBCD;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
}
.tabs .tabs__content {
    display: flex;
    width: 100%;
    border: 1px solid #C6CBCD;
}
.tabs .tabs__content .tabs__info {
    max-width: 570px;
    margin-left: 100px;
    margin-right: 30px;
}
.tabs .tabs__content .tabs__info .tabs__title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;
    padding: 50px 0px;
    margin-bottom: 27px;
}
.tabs .tabs__content .tabs__info .tabs__subtitle {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 27px;
    max-width: 570px;
}
.tabs .tabs__content .tabs__info .tabs__subtitle p {
    margin: 0;
}
.tabs .tabs__content .tabs__info .tabs__btn {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: #FFFFFF;
    width: 270px;
    background: #EC7979;
    border: none;
    min-height: 58px;
}
.tabs a {
    text-decoration: none;
    color: #333333;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

@media (max-width: 1024px) {

    .tabs__container{
        max-width: 992px !important;
    }

    .tabs__content{
        display: flex;
        justify-content: space-between;
    }

    .tabs__info{
        width: 482.89px !important;
        margin-right: 26px !important;
    }

    .tabs__img{
        width: 398.21px;
        height: 385px;
    }

    .tabs__item{
        padding: 10px 16px !important;
        max-width: 172.12px;
    }

    .tabs__title{
        font-size: 24px !important;
        width: 100%;
        padding: 35px 0px !important;
        margin-bottom: 38px;
    }

    .tabs__subtitle{
        font-size: 14px !important;
        width: 100%;
        margin-bottom: 38px;
    }

    .tabs__item{
        width: 172.12px !important;
    }

    .tabs__btn{
        max-width: 231.87px !important;
    }
}