@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

section {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.long {
  border-bottom: 1px solid #EC7979;
  min-width: 170px;
}

ul {
  list-style: none;
}

.about .about__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  height: 150px;
}
.about .about__title::after {
  content: "";
  border: 1px solid #EC7979;
  display: block;
  max-width: 170px;
  margin: 57px auto 40px auto;
}
.about .about__subtitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #86878B;
}
.about .about__proofs {
  display: flex;
  margin-top: 110px;
  justify-content: space-between;
}
.about .about__proofs li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .about__proofs .about__img {
  border: 1px solid #EC7979;
  width: 92px;
  max-height: 92px;
  display: flex;
  justify-content: center;
  border-radius: 360px;
  box-sizing: border-box;
}
.about .about__proofs .about__img--1 {
  padding: 13.35px;
}
.about .about__proofs .about__img--2 {
  padding: 23px 13px;
}
.about .about__proofs .about__img--3 {
  padding: 13px 22px 13px 26px;
}
.about .about__proofs .about__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}
.about .about__proofs .about__subtext {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  max-width: 370px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 8px;
}

.tabs .tabs__items {
  display: flex;
  margin: 0;
  padding-inline-start: 0;
}
.tabs .tabs__items .tabs__item {
  width: 203px;
  text-align: center;
  padding: 8px 16px;
  cursor: pointer;
}
.tabs .tabs__item--active {
  border: 1px solid #C6CBCD;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
}
.tabs .tabs__content {
  display: flex;
  width: 100%;
  border: 1px solid #C6CBCD;
}
.tabs .tabs__content .tabs__info {
  max-width: 570px;
  margin-left: 100px;
  margin-right: 30px;
}
.tabs .tabs__content .tabs__info .tabs__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  display: flex;
  align-items: center;
  height: 124px;
  margin-bottom: 27px;
}
.tabs .tabs__content .tabs__info .tabs__subtitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 27px;
  max-width: 570px;
}
.tabs .tabs__content .tabs__info .tabs__subtitle p {
  margin: 0;
}
.tabs .tabs__content .tabs__info .tabs__btn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  color: #FFFFFF;
  width: 270px;
  background: #EC7979;
  border: none;
  height: 58px;
}
.tabs a {
  text-decoration: none;
  color: #333333;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

/*# sourceMappingURL=styles.css.map */
